# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\deblur_v1_cp7\NBDN_codes\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
